*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
html {
  font-size: 62.5%;
  overflow: auto;
}
body {
  font-size: 1rem;
  scroll-behavior: smooth;
}
header,
menu,
nav,
article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
section {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
img {
  max-width: 100%;
  display: block;
}
iframe,
fieldset,
legend,
img {
  border: none;
}
menu,
ul {
  list-style: none;
}
ol {
  list-style-type: decimal;
  list-style-position: outside;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: hsl(240, 3%, 6%);
  color: hsl(204, 4%, 75%);
  line-height: 32px;
}
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #403B3E 0%, #242526 100%);
}
::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: hsl(240, 5%, 12%);
}
h1,
h2,
h3 {
  color: hsl(240, 4%, 95%);
  line-height: 60px;
}
h2 {
  margin-bottom: 6rem;
  font-weight: 400;
  font-size: 5.6rem;
  line-height: 8rem;
  text-align: center;
  background: linear-gradient(180deg, #424245 0%, rgba(102, 102, 122, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.container {
  margin: 0 auto;
  width: 90%;
}
@media (min-width: 576px) {
  .container {
    width: 85%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 80%;
  }
}
@media (min-width: 992px) {
  .container {
    width: min(90%, 992px);
  }
}
@media (min-width: 1200px) {
  .container {
    width: min(90%, 1200px);
  }
}
.btn {
  background: hsl(240, 5%, 12%);
  color: hsl(240, 4%, 95%);
  padding: 2rem;
  border-radius: 8px;
  border: 2px solid transparent;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 22px;
  transition: all 300ms ease;
}
.btn:hover {
  background-color: hsl(240, 3%, 6%);
  border: 2px solid hsl(240, 5%, 12%);
  cursor: pointer;
}
.btn-variant {
  background: hsl(240, 3%, 6%);
}
.btn-variant:hover {
  background-color: hsl(240, 5%, 12%);
  border: 2px solid hsl(240, 3%, 6%);
}
.home {
  display: grid;
}
@media (min-width: 576px) {
  .home {
    grid-template-columns: repeat(2, 1fr);
  }
  .home div:first-child {
    position: relative;
  }
}
.home__hero {
  object-fit: cover;
  height: 350px;
  position: absolute;
  top: -100px;
  right: 5%;
  z-index: -1;
}
@media (min-width: 380px) {
  .home__hero {
    height: 500px;
    top: -150px;
  }
}
@media (min-width: 576px) {
  .home__hero {
    height: 75%;
    top: 0;
    right: 10%;
  }
}
@media (min-width: 768px) {
  .home__hero {
    height: 95%;
    right: 12%;
  }
}
@media (min-width: 992px) {
  .home__hero {
    right: 18%;
  }
}
.home__title {
  margin-top: 25rem;
  font-size: 4rem;
  font-weight: 600;
  position: relative;
}
@media (min-width: 768px) {
  .home__title {
    font-size: 5rem;
  }
}
@media (min-width: 992px) {
  .home__title {
    font-size: 6rem;
  }
}
@media (min-width: 1200px) {
  .home__title {
    font-size: 6.4rem;
  }
}
.home__title::before {
  content: "On ear";
  position: absolute;
  top: -6rem;
  left: 1.5rem;
  color: transparent;
  background: linear-gradient(180deg, #403B3E 0%, #242526 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 6rem;
  font-weight: 600;
  padding: 0;
}
@media (min-width: 768px) {
  .home__title::before {
    font-size: 8rem;
    top: -8rem;
  }
}
@media (min-width: 992px) {
  .home__title::before {
    font-size: 10rem;
    top: -10rem;
    padding: 1rem 0;
  }
}
@media (min-width: 1200px) {
  .home__title::before {
    font-size: 12rem;
    top: -12rem;
    padding: 2rem 0;
  }
}
.home__subtitle {
  margin-top: 4rem;
  font-size: 1.8rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .home__subtitle {
    font-size: 2rem;
  }
}
.home__description {
  font-size: 1.4rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .home__description {
    font-size: 1.6rem;
  }
}
@media (min-width: 992px) {
  .home__description {
    padding-right: 25%;
  }
}
.home__cta {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.home__cta::before {
  content: url("../assets/shopping-bag-icon.svg");
  position: relative;
  top: 0.1rem;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}
.home__cta span {
  font-size: 2rem;
  font-weight: 600;
}
.home__stores {
  margin: 8rem 0;
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 3rem;
}
@media (min-width: 380px) {
  .home__stores {
    grid-template-columns: repeat(4, 1fr);
    justify-items: start;
  }
}
@media (min-width: 768px) {
  .home__stores {
    justify-items: center;
  }
}
.home__stores a {
  height: fit-content;
}
.header {
  position: fixed;
  left: 0;
  right: 0;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 10;
}
@media (min-width: 768px) {
  .header {
    position: absolute;
  }
}
.header__home-link img {
  filter: opacity(1);
  transition: all 300ms ease;
}
.header__home-link img:hover {
  filter: opacity(0.5);
}
.header__navegation-menu {
  display: none;
  transition: all 300ms ease;
}
@media (min-width: 768px) {
  .header__navegation-menu {
    display: flex;
    gap: 5rem;
  }
}
.header__navegation-menu.active {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: hsla(240, 3%, 6%, 0.9);
}
@media (min-width: 768px) {
  .header__navegation-menu.active {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: transparent;
  }
}
.header__navegation-menu a {
  color: hsl(240, 4%, 95%);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  transition: all 300ms ease;
}
.header__navegation-menu a:hover {
  color: hsla(240, 4%, 95%, 0.5);
}
.header__navegation-button {
  justify-self: end;
  width: fit-content;
  border: none;
  background-color: transparent;
  transition: all 300ms ease;
  z-index: 12;
}
.header__navegation-button:hover {
  cursor: pointer;
}
.header__navegation-button img {
  width: 32px;
  height: 32px;
  filter: opacity(1);
  transition: all 300ms ease;
}
.header__navegation-button img:hover {
  filter: opacity(0.5);
}
@media (min-width: 768px) {
  .header__navegation-button {
    display: none;
  }
}
.specs {
  margin-top: 3rem;
  margin-bottom: 6rem;
}
@media (min-width: 768px) {
  .specs {
    margin-top: 6rem;
    margin-bottom: 12rem;
  }
}
@media (min-width: 768px) {
  .specs__title {
    font-weight: 400;
    font-size: 7.2rem;
    line-height: 10.8rem;
  }
}
.specs__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 0 auto;
  max-width: 50rem;
}
.specs__image {
  position: relative;
  top: -25px;
  right: -5rem;
}
.spec {
  margin-bottom: 2rem;
  position: relative;
}
.spec:first-child,
.spec:last-child {
  left: 2.4rem;
}
.spec:last-child {
  margin-bottom: 0;
}
.spec__title {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.spec__description {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.case {
  margin-bottom: 6rem;
}
@media (min-width: 768px) {
  .case {
    margin-bottom: 12rem;
  }
}
@media (min-width: 768px) {
  .case__title {
    font-weight: 400;
    font-size: 7.2rem;
    line-height: 10.8rem;
  }
}
.case__container {
  display: grid;
  margin: 0 auto;
  max-width: 50rem;
  gap: 4rem;
}
@media (min-width: 380px) {
  .case__container {
    gap: 0;
    grid-template-columns: repeat(2, 1fr);
  }
}
.case__container img {
  width: 50%;
}
@media (min-width: 380px) {
  .case__container img {
    width: 100%;
    position: relative;
    left: -80px;
  }
}
.case__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.case__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
@media (min-width: 380px) {
  .case__info {
    gap: 4rem;
  }
}
@media (min-width: 380px) {
  .case__info p {
    padding-right: 4rem;
  }
}
@media (min-width: 576px) {
  .case__info p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
  }
}
.case__info .btn {
  width: min(100%, 180px);
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.case__info .btn::before {
  content: url("../assets/alert-icon.svg");
  position: relative;
  top: 0.1rem;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}
.discount {
  background-color: hsl(240, 5%, 12%);
  margin-bottom: 6rem;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}
@media (min-width: 576px) {
  .discount {
    padding: 5rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .discount {
    margin-bottom: 12rem;
  }
}
@media (min-width: 992px) {
  .discount {
    padding: 5rem 10rem;
    max-width: 100rem;
  }
}
.discount__info {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.discount__info h3 {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.7rem;
}
@media (min-width: 576px) {
  .discount__info h3 {
    font-size: 2.4rem;
    line-height: 3.6rem;
  }
}
.discount__info p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
}
@media (min-width: 576px) {
  .discount__info p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
.discount__info .btn {
  width: min(100%, 180px);
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.discount__info .btn::before {
  content: url("../assets/shopping-bag-icon.svg");
  position: relative;
  top: 0.1rem;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}
.discount__image {
  position: absolute;
  bottom: 0;
  right: -150px;
  transform: scale(0.5);
}
@media (min-width: 380px) {
  .discount__image {
    transform: scale(0.75);
  }
}
@media (min-width: 576px) {
  .discount__image {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    transform: scale(1);
  }
}
