.footer {
  h3 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
  }

  p {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

  &__home-image {
    display: flex;
    justify-content: center;
  }

  &__grid {
    display: grid;
    gap: 3rem;

    @media @mq-xl {
      grid-template-columns: 2fr 5fr 5fr;
    }
  }

  &__links-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media @mq-sm {
      flex-direction: row;
      justify-content: space-around;
      gap: 0;
    }

    @media @mq-lg {
      gap: 3rem;
    }
  }

  &__products, 
  &__support {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media @mq-xl {
      flex-grow: 1;
    }
  }

  &__copy {
    margin: 3.2rem;
    text-align: center;
  }
}

.subscribe {
  background-color: #colors[bg-variant];
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  @media @mq-sm {
    flex-direction: row;
  }

  input {
    background-color: transparent;
    width: 100%;
    border: none;
    padding: 1rem;
    color: #colors[light];
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

  .btn {
    display: flex;
    align-items: center;
    gap: 1rem;

    &::before {
      content: #images[send-icon];
      height: 18px;
    }
  }
}

.socials {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 3.2rem 0;

  @media @mq-lg {
    justify-content: start;
  }

  .btn {
    width: 32px;
    height: 32px;
    padding: 0.6rem;

    img {
      width: 100%;
      height: 100%;
    }
  }
}