.home {  
  display: grid;

  @media @mq-md {
    grid-template-columns: repeat(2, 1fr);

    div:first-child {
      position: relative;
    }
  }

  &__hero {
    object-fit: cover;
    height: 350px;
    position: absolute;
    top: -100px;
    right: 5%;
    z-index: -1;

    @media @mq-sm {
      height: 500px;
      top: -150px;
    }

    @media @mq-md {
      height: 75%;
      top: 0;
      right: 10%;
    }

    @media @mq-lg {
      height: 95%;
      right: 12%;
    }

    @media @mq-xl {
      right: 18%;
    }
  }

  &__title {
    margin-top: 20rem;
    font-size: 4rem;
    font-weight: 600;
    position: relative;

    @media @mq-lg {
      font-size: 5rem;
    }

    @media @mq-xl {
      font-size: 6rem;
    }

    @media @mq-xxl {
      font-size: 6.4rem;
    }

    &::before {
      content: "On ear";
      position: absolute;
      top: -6rem;
      left: 1.5rem;
      color: transparent;
      background: linear-gradient(180deg, #403B3E 0%, #242526 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      font-size: 6rem;
      font-weight: 600;
      padding: 0;

      @media @mq-lg {
        font-size: 8rem;
        top: -8rem;
      }

      @media @mq-xl {
        font-size: 10rem;
        top: -10rem;
        padding: 1rem 0;
      }

      @media @mq-xxl {
        font-size: 12rem;
        top: -12rem;
        padding: 2rem 0;
      }
    }
  }

  &__subtitle {
    margin-top: 4rem;
    font-size: 1.8rem;
    font-weight: 600;

    @media @mq-lg {
      font-size: 2rem;
    }
  }

  &__description {
    font-size: 1.4rem;
    font-weight: 400;

    @media @mq-lg {
      font-size: 1.6rem;
    }

    @media @mq-xl {
      padding-right: 25%;
    }
  }

  &__cta {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    &::before {
      content: #images[shopping-bag];
      position: relative;
      top: 0.1rem;
      width: 3rem;
      height: 3rem;
      object-fit: cover;
    }

    span {
      font-size: 2rem;
      font-weight: 600;
    }
  }

  &__stores {
    margin: 8rem 0;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 3rem;

    @media @mq-sm {
      grid-template-columns: repeat(4, 1fr);
      justify-items: start;
    }

    @media @mq-lg {
      justify-items: center;
    }

    a {
      height: fit-content;
    }
  }
}